name: CI

on:
    push:
      branches:
        - '*'
    pull_request:

jobs:
    tests:
        name: Docker build
        runs-on: ubuntu-latest
        env:
          TRUSTED_HOSTS: ^example.com$
          APP_ENV: test
        steps:
            - name: Checkout
              uses: actions/checkout@v2
            - name: Pull images
              run: docker-compose pull
            - name: Build php service
              run: docker-compose build --no-cache php
            - name: Check php service
              run: docker-compose run --rm php id
            - name: Start services
              run: docker-compose up -d
            - name: Wait for services
              run: |
                  while status="$(docker inspect --format="{{if .Config.Healthcheck}}{{print .State.Health.Status}}{{end}}" "$(docker-compose ps -q php)")"; do
                    case $status in
                      starting) sleep 1;;
                      healthy) exit 0;;
                      unhealthy)
                        docker-compose ps
                        docker-compose logs
                        exit 1
                      ;;
                    esac
                  done
                  exit 1
            - name: Check HTTP reachability
              run: curl -v -o /dev/null http://localhost
            - name: PHPUnit
              run: docker-compose exec -T ls -la
